################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Debug/chess.tlog
/Debug
/chess.vcxproj
/chess.vcxproj.filters
chess
